body{
    background-color: rgb(11, 31, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    margin: 0;      
}

.box{
    background-color: aquamarine;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.inner-box{
    text-align: center;   
}

.img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;   
}

.name{
    margin-top: 10px;
}


